.button {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgb(235 229 222 / 12%), 0 1px 1px rgb(235 229 222 / 14%), 0 2px 1px rgb(235 229 222 / 20%);
}

.button__list {
    display: flex;
    justify-content: center;
    gap: 10px;

}